.bookcard {
    padding-bottom: 111px;
}

.bookcard__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px 20px;
}

@media only screen and (max-width: 800px) {
    .main__card-list {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}